body {
  margin: 0;
  padding: 0;
  background-color: black;
  /* background-image: url("https://i.pinimg.com/originals/c3/1f/66/c31f66f33d4f1f7e09ab9ae8fc1523f5.jpg");
  background-size: cover; */
}
